<a href="https://colab.research.google.com/github/chicolucio/exercicios-logica-ttg/blob/master/introducao_logica_com_ttg_gabarito_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Noções de lógica com o *ttg - truth-table-generator*

Gabarito dos exercícios propostos no notebook teórico.

Execute a célula abaixo para importar o construtor de tabelas `Truths` do *ttg*.

In [ ]:
from ttg import Truths

É importante ler a [documentação do pacote](https://github.com/chicolucio/truth-table-generator) para entender a utilização do mesmo.

O *ttg* permite apresentar as tabelas de forma mais agradável visualmente nos Jupyter Notebooks utilizando *pandas*. Execute a célula abaixo onde são declaradas duas funções para aplicar cores nas tabelas verdade. Você pode alterar as funções caso queira cores diferentes ou outros efeitos não implementados. Fica o convite para fazer alterações e as compartilhar.

In [ ]:
def color_false_red(val):
    """Color red False (0) and green True (1) values"""
    
    color = 'red' if (val == False) else 'green'
    return 'color: %s' % color


def df_style(logic, hl_rows=[], hl_cols=[]):
    """Applies style to logical expression (logic) pandas truth table. 
    Text: center. Table: no index column. Highlight yellow rows and columns in 
    lists (hl_rows and hl_cols). At the end applies color_false_red function"""
    
    d = logic.as_pandas().style.set_table_styles([{
        'selector': 'th',
        'props': [('font-size', '10pt')]
    }]).set_properties(**{
        'text-align': 'center',
        'font-size': '115%'
    }).apply(
        lambda x:
        ['background: lightyellow' if x.name in hl_rows else '' for i in x],
        axis=1).apply(lambda x: 
                      ['background: lightyellow' if x.name in hl_cols else '' for i in x], 
                      axis=0).hide_index()
    d = d.applymap(color_false_red)
    return d

## Exercícios complementares

Geralmente quando são feitas tabelas verdade manualmente, são construídas diversas colunas, uma para cada etapa da análise da proposição. Assim, coloquei nas resoluções dos primeiros exercícios também desta forma, para auxiliar a compreensão. No entanto, o *ttg* também resolveria a proposição caso apenas a mesma fosse passada, conforme exercícios mais ao final.

**Exercício 1**: Construa a tabela verdade para as proposições e as classifique como tautologia, contradição ou contingência.

a. $\neg p \lor \neg q$

In [ ]:
exercicio01a = Truths(['p', 'q'], ['~p', '~q', '(~p) or (~q)'], ints=False)

df_style(exercicio01a)

In [ ]:
exercicio01a.valuation()

'Contingency'

b. $ [ (p \land \neg q) \lor \neg r] \land [ (\neg p \lor q) \land r ] $

In [ ]:
exercicio01b = Truths(
    ['p', 'q', 'r'], 
    ['~p', '~q', '~r', 'p and (~q)', '(~p) or (~q)', 
     '(p and (~q)) or (~r)','((~p) or q) and r', 
     '((p and (~q)) or (~r)) and (((~p) or q) and r)'],
    ints=False)

df_style(exercicio01b)

In [ ]:
exercicio01b.valuation()

'Contradiction'


c. $(p \land q) \rightarrow (p \lor q)$

In [ ]:
exercicio01c = Truths(['p', 'q'],
                      ['p and q', 'p or q', '(p and q) => (p or q)'],
                      ints=False)

df_style(exercicio01c)

In [ ]:
exercicio01c.valuation()

'Tautology'


d. $(p \land q) \lor r$

In [ ]:
exercicio01d = Truths(['p', 'q', 'r'], 
                      ['p and q', '(p and q) or r'], 
                      ints=False)

df_style(exercicio01d)

In [ ]:
exercicio01d.valuation()

'Contingency'


e. $(p \land q) \rightarrow p$

In [ ]:
exercicio01e = Truths(['p', 'q'], ['p and q', '(p and q) => p'], ints=False)

df_style(exercicio01e)

In [ ]:
exercicio01e.valuation()

'Tautology'


f. $p \rightarrow (p \lor q)$

In [ ]:
exercicio01f = Truths(['p', 'q'], ['p or q', 'p => (p or q)'], ints=False)

df_style(exercicio01f)

In [ ]:
exercicio01f.valuation()

'Tautology'


g. $ [ p \land (p \rightarrow q) ] \rightarrow q $

In [ ]:
exercicio01g = Truths(['p', 'q'], 
                      ['p => q', 'p and (p => q)', '(p and (p => q)) => q'],
                      ints=False)

df_style(exercicio01g)

In [ ]:
exercicio01g.valuation()

'Tautology'


h. $ [ (p \rightarrow q) \land \neg q ] \rightarrow \neg q $

In [ ]:
exercicio01h = Truths(
    ['p', 'q'],
    ['~q', 'p => q', '(p => q) and (~q)', '((p => q) and (~q)) => (~q)'],
    ints=False)

df_style(exercicio01h)

In [ ]:
exercicio01h.valuation()

'Tautology'


i. $ (p \land q) \land \neg p $

In [ ]:
exercicio01i = Truths(['p', 'q'], 
                      ['~p', 'p and q', '(p and q) and (~p)'],
                      ints=False)

df_style(exercicio01i)

In [ ]:
exercicio01i.valuation()

'Contradiction'


j. $ [ (p \lor \neg q) \land r ] \land [ (p \land q) \lor \neg r ] $

In [ ]:
exercicio01j = Truths(
    ['p', 'q', 'r'], 
    ['~q', '~r', 'p or (~q)', '(p or (~q)) and r', 'p and q',
     '(p and q) or (~r)', '((p or (~q)) and r) and ((p and q) or (~r))'],
    ints=False)

df_style(exercicio01j)

In [ ]:
exercicio01j.valuation()

'Contingency'

k. $ [ (p \leftrightarrow q) \rightarrow r ] \leftrightarrow [ \neg (p \land r) \rightarrow q ] $

In [ ]:
exercicio01k = Truths(
    ['p', 'q', 'r'], 
    ['p = q', '(p = q) => r', 'p and r', '~(p and r)', '(~(p and r)) => q',
     '((p = q) => r) = ((~(p and r)) => q)'],
    ints=False)

df_style(exercicio01k)

In [ ]:
exercicio01k.valuation()

'Contingency'

**Exercício 2**: Sendo $p$ uma proposição de valor lógico verdadeiro e $q$ uma proposição de valor lógico falso, qual o valor lógico da proposição composta $R: (p \land \neg q) \rightarrow q$?

In [ ]:
exercicio02 = Truths(['p', 'q'], 
                     ['~q', 'p and (~q)', '(p and (~q)) => q'],
                     ints=False)

df_style(exercicio02, hl_rows=[2])

# Falsa, conforme linha destacada.

**Exercício 3**: Atribua valor lógico verdadeiro ou falso a cada uma das afirmações a seguir:

a. Se Marte é um planeta então $3 = 7 - 4$.

b. A soma de dois números pares é um número par e $7^2 = 49$.

c. $3=5$ se e somente se o urso é um animal invertebrado.

d. Se $10^2 = 100$ então todo número inteiro é natural.

e. $2 = 3^2 - 7$ ou a Terra é plana.

f. $3 > 1$ e $4 > 2$

g. $3 > 1$ ou $3 = 1$

Letra a:

| Proposição |          Texto          | Valor lógico |
| --------   | ----------              | ----------   |
| $p$        | Marte é um planeta      | V            |
| $q$        | $3 = 7 - 4$             | V            |

In [ ]:
exercicio03a = Truths(['p', 'q'], ['p => q'], ints=False)

df_style(exercicio03a, hl_rows=[1])

# Verdadeira, conforme linha destacada.

Letra b:

| Proposição |          Texto                                    | Valor lógico |
| --------   | ----------                                        | ----------   |
| $p$        | A soma de dois números pares é um número par      | V            |
| $q$        | $7^2 = 49$                                        | V            |

In [ ]:
exercicio03b = Truths(['p', 'q'], ['p and q'], ints=False)

df_style(exercicio03b, hl_rows=[1])

# Verdadeira, conforme linha destacada.

Letra c:

| Proposição |          Texto                                    | Valor lógico |
| --------   | ----------                                        | ----------   |
| $p$        | $3 = 5$                                           | F            |
| $q$        | Urso é um animal invertebrado                     | F            |

In [ ]:
exercicio03c = Truths(['p', 'q'], ['p = q'], ints=False)

df_style(exercicio03c, hl_rows=[4])

# Verdadeira, conforme linha destacada.

Letra d:

| Proposição |          Texto                                    | Valor lógico |
| --------   | ----------                                        | ----------   |
| $p$        | $10^2 = 100$                                      | V            |
| $q$        | Todo número inteiro é natural                     | F            |

In [ ]:
exercicio03d = Truths(['p', 'q'], ['p => q'], ints=False)

df_style(exercicio03d, hl_rows=[2])

# Falsa, conforme linha destacada.

Letra e:

| Proposição |          Texto                                    | Valor lógico |
| --------   | ----------                                        | ----------   |
| $p$        | $2 = 3^2 -7$                                      | V            |
| $q$        | A Terra é plana                                   | F            |

In [ ]:
exercicio03e = Truths(['p', 'q'], ['p or q'], ints=False)

df_style(exercicio03e, hl_rows=[2])

# Verdadeira, conforme linha destacada.

Letra f:

| Proposição | Texto | Valor lógico |
| --------| -------| ----------|
| $p$| 3 > 1|V|
| $q$| 4 > 2|V|

In [ ]:
exercicio03f = Truths(['p', 'q'], ['p and q'], ints=False)

df_style(exercicio03f, hl_rows=[1])

# Verdadeira, conforme linha destacada.

Letra g:

| Proposição |          Texto| Valor lógico |
| --------   | ---------------| ----------   |
| $p$        | 3 > 1          | V            |
| $q$        | 3 = 1          | F            |

In [ ]:
exercicio03g = Truths(['p', 'q'], ['p or q'], ints=False)

df_style(exercicio03g, hl_rows=[2])

# Verdadeira, conforme linha destacada.

**Exercício 4**: Sejam:

- $p$: Londres é a capital da Inglaterra.
- $q$: A Torre Eiffel situa-se em Londres.
- $r$: O meridiano de Greenwich passa por Londres.

Traduza para a linguagem natural cada uma das proposições compostas abaixo e determine o respectivo valor lógico.

a. $\neg q \land \neg p$

R.: Londres não é capital da Inglaterra e a Torre Eiffel não situa-se em Londres.

b. $\neg q \lor \neg p$

R.: A Torre Eiffel não situa-se em Londres ou Londres não é capital da Inglaterra.

c. $\neg (p \land q)$

R.: Londres não é a capital da Inglaterra ou a Torre Eiffel não situa-se em Londres. Outra possibilidade: Não é verdade que Londres é a capital da Inglaterra e a Torre Eiffel situa-se em Londres.

d. $\neg p \lor r$

R.: Londres não é a capital da Inglaterra ou o meridiano de Greenwich passa por Londres.

Valores lógicos na linha destacada na próxima tabela.

In [ ]:
exercicio04 = Truths(
    ['p', 'q', 'r'],
    ['(~p) and (~q)', '(~p) or (~q)', '~(p and q)', '(~p) or r'],
    ints=False)

df_style(exercicio04, hl_rows=[3])

**Exercício 5**: Prove que uma condicional é equivalente a $\neg (p \land q)$

In [ ]:
exercicio05 = Truths(['p', 'q'], ['~(p and (~q))', 'p => q'], ints=False)

df_style(exercicio05, hl_cols=['~(p and (~q))', 'p => q'])

# Repare que as colunas das proposições são iguais.

**Exercício 6**: Comprove que $\neg (p \rightarrow q)$ é equivalente a $p \land \neg q$

In [ ]:
exercicio06 = Truths(['p', 'q'], ['~(p => q)', 'p and (~q)'], ints=False)

df_style(exercicio06, hl_cols=['~(p => q)', 'p and (~q)'])

# Repare que as colunas das proposições são iguais.

**Exercício 7**: Mostre simbolicamente que são logicamente equivalentes: "Se um aluno estuda, então ele é aprovado" e "Não é verdade que um aluno estuda e não é aprovado".

Resposta:

| Proposição |          Texto                                    | 
| --------   | ----------                                        | 
| $p$        | Um aluno estuda                                   | 
| $q$        | O aluno é aprovado                                |

In [ ]:
exercicio07 = Truths(['p', 'q'], ['p => q', '~(p and (~q))'], ints=False)

df_style(exercicio07, hl_cols=['p => q', '~(p and (~q))'])

# Repare que as colunas das proposições são iguais.

**Exercício 8**: Mostre simbolicamente que a negação de "Se um aluno estuda, então ele é aprovado" é "Há alunos que estudam e não são aprovados".

Resposta:

| Proposição |          Texto                                    | 
| --------   | ----------                                        | 
| $p$        | Um aluno estuda                                   | 
| $q$        | O aluno é aprovado                                |

In [ ]:
exercicio08 = Truths(['p', 'q'], ['p => q', 'p and (~q)'], ints=False)

df_style(exercicio08)

# Repare que as colunas das proposições são opostas.

**Exercício 9**: Considere a proposição: "Se o Edson se candidatar a presidente, então ele se elegerá". Em qual dos casos abaixo essa proposição condicional deve ser considerada falsa?

a. O Edson se candidatou a presidente e se elegeu.

b. O Edson se candidatou a presidente e não se elegeu.

c. O Edson não se candidatou a presidente.

Resposta:


| Proposição |          Texto                     | 
| --------   | ----------                         | 
| $p$        | O Edson se candidatar a presidente | 
| $q$        | O Edson se eleger                  |

In [ ]:
exercicio09 = Truths(['p', 'q'], 
                     ['p => q', 'p and q', 'p and (~q)', '~p'],
                     ints=False)

df_style(exercicio09, hl_cols=['p => q', 'p and (~q)'])

# Repare que as colunas das proposições destacadas são opostas. 
# A primeira coluna destacada se refere ao enunciado.
# A segunda se refere à letra b. Logo a resposta é letra b.

**Exercício 10**: Considere a condicional: "Se o seu dente está cariado, você precisa de um dentista".

a. Suponha que "o seu dente não está cariado e você precisa de um dentista". Isto significa uma negação da anterior?

In [ ]:
exercicio10a = Truths(['p', 'q'], ['p => q', '(~p) and q'], ints=False)

df_style(exercicio10a)

# As colunas não são completamente opostas, logo não é negação.

b. Escreva uma proposição que não seja condicional e que corresponde à negação da proposição acima.

Negação da condicional: $\neg (p \rightarrow q) \leftrightarrow p \land \neg q$

Logo: O seu dente está cariado e você não precisa de um dentista.

**Exercício 11**: Escreva na linguagem simbólica e verifique se são logicamente equivalentes as proposições "Se eu me chamo João, então eu passo no vestibular", e "Eu passo no vestibular ou não me chamo João".

R.:

| Proposição |          Texto                     | 
| --------   | ----------                         | 
| $p$        | Eu me chamo João                   | 
| $q$        | Eu passo no vestibuar              |

In [ ]:
exercicio11 = Truths(['p', 'q'], ['p => q', '(~p) or q'], ints=False)

df_style(exercicio11)

# Repare que as colunas das proposições são iguais.

**Exercício 12**: Sendo a proposição $p \rightarrow (r \lor s)$ falsa e a proposição $(q \land \neg s) \rightarrow p$ verdadeira, classifique em verdadeira ou falsa as afirmações $p$, $q$, $r$ e $s$.

In [ ]:
exercicio12 = Truths(['p', 'q', 'r', 's'], 
                     ['p => (r or s)', '(q and (~s)) => p'],
                     ints=False)

df_style(exercicio12, hl_rows=[4, 8])

Conforme as linhas destacadas na tabela acima, temos:

| Proposição | Valor lógico |
| ------     | -------      |
| $p$        | V            |
| $q$        | V ou F       |
| $r$        | F            |
| $s$        | F            |

**Exercício 13**: Sabendo que as proposições $p$ e $q$ são verdadeiras e que a proposição $r$ é falsa, determine o valor lógico da seguinte proposição: $(\neg p \downarrow q) \land (q \uparrow \neg r)$

In [ ]:
exercicio13 = Truths(['p', 'q', 'r'], ['((~p) nor q) and (q nand (~r))'], ints=False)

df_style(exercicio13, hl_rows=[2])

# Falso, conforme linha destacada.